@import '../../../stylesheets/colors';

.LearningPaths {
  margin: auto;
  width: 100%;
}

.LearningPaths-header {
  padding: 30px;
  text-align: center;
  background-size: cover;
  background-position: 50% 50%;
}

.LearningPaths-btn-panel {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
