@import '../../stylesheets/colors';

.lp-details {
  width: 300px;
}

.lp-media {
  margin: 0 auto;
  width: 100%;

  .lp-thumbnail {
    width: 100%;
  }
}

.lp-title {
  text-align: center;
}

.lp-description {
  border-bottom: 1px inset grey;
}

.lp-votes {
  float: left;
}

.lp-mentor {
  float: right;
  padding: 10px 0;
}

.lp-missing-mentor {
  border: 1px dashed $danger;
  color: $danger;
}
